 {{template "base" .}}
{{define "title"}}
    <title>Manup | Template</title>
{{end}}
{{define "content"}}
<!-- Modal -->
  <div class="modal fade" id="modalStudent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalStudentLabel" aria-hidden="true">
   
  </div>
   <div class="row bg-light text-dark">
    <div class="container mt-5">

        <button type="button" class="btn btn-primary add-student">Add Speaker</button>
</div>
        <table class="table mt-3">
           <thead>
            <th>#</th>
            <th>Speaker Name</th>
            <th>Facebook</th>
            <th>Instagram</th>
            <th>Twiter</th>
            <th>Linkdin</th>
            <th>Image</th>
            <th>edit/del</th>
           </thead>
           {{ .data }}
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>  
  
    <script>
        $(document).ready(function(){

        

            $('.add-student').click(function(){
              
                $.get("/manage-speakers/get_form",function(html){
                     
                    $('#modalStudent').html(html).modal('show')

                });


            });

            $(document).on('click','.edit-student',function(){
                 
                var id = $(this).attr('data-id');
                console.log(id);
                $.get("/manage-speakers/get_form?id=" + id,function(html){
                    $('#modalStudent').html(html).modal('show')
                })

            })

            $(document).on('click','.delete-student',function(){
                 
                 var id = $(this).attr('data-id');
                 var confirmDelete = confirm("Are you sure want to delete?")
                 if (confirmDelete ==  true){

                    $.post("/manage-speakers/delete",{id : id},function(response){
                          alert(response.message)
                          $('tbody').html(response.data)

                    },'JSON')
                 }
 
             })




            $(document).on('submit','#form-student',function(e){

                e.preventDefault()
                    var data = new FormData();
                    jQuery.each(jQuery('#file')[0].files, function(i, file) {
                        data.append('image', file);
                    });
                    data.append('speakername', $('#speakername').val());
                    data.append('facebook', $('#facebook').val());
                    data.append('instagram', $('#instagram').val());
                    data.append('twiter', $('#twiter').val());
                    data.append('linkdin', $('#linkdin').val());

                $.ajax({

                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data:data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    success: function(response){
                            
                        $('tbody').html(response.data)
                        alert(response.message)
                        $('#modalStudent').modal('hide')
                    },
                    error: function(response){

                        console.log(response);
                    }
                    

                })
            })
        })
    </script>
         {{end}}